$myColor1: whitesmoke;
$myColor2: black;
$indigo: #6610f2;
$myStringvar: "test av extra text på slutet";
$myBoldborder: 1px solid $myColor2;
$myFontsize: 20px;
$myPaddingvar: 15px 15px 15px 30px;

h5 {
  color: $indigo;
}

p {
  color: $myColor2;
}

.footer {
  font-size: $myFontsize;
  border: $myBoldborder;
  padding: $myBoldborder;
  background-color: $myColor1;
}

.footer:after {
  content: $myStringvar;
}
